{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href= "{% static 'todoApp/css/signup.css'%}">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>
          <h3><a href="">Micro Task Manager</a></h3>
        </li>
      </ul>
      <ul class="about-register">
        <li>
          <a class="btn" href="#"> About</a>
        </li>
        <li>
          <a class="btn" href="/todo/accounts/login/"> Sign In</a>
        </li>
      </ul>
    </nav>
  </header>
  {% for message in messages %}
    <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>
        {{ message }}
    </div>
  {% endfor %}

  
<div class="signup-form">
    <form method="post" action="{% url 'signup' %}">
      {% csrf_token %}
      <div class="input-group">
        <label for="firstname">First Name</label>
        <input id="firstname" type="text" name="firstname">
      </div>
      <div class="input-group">
        <label for="lastname">Last Name</label>
        <input id="lastname" type="text" name="lastname">
      </div>
      <div class="input-group">
        <label for="email">Email</label>
        <input id="email" type="email" name="email">
      </div>
      <div class="input-group">
        <label for="username">Username</label>
        <input id="username" type="text" name="username" autocomplete="off">
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" autocomplete="off">
      </div> 
      <div class="input-group">
        <label for="password2">Confirm Password</label>
        <input id="password2" type="password" name="password2" autocomplete="off">
      </div> 
        <input class="btn submit-btn" type="submit" value="SignUp" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
</body>
</html>